<h1>Driving Record</h1>

<p>
  <strong>License plate number:</strong>
  <%= @driver.license_plate_number %>
</p>

<% if @driver.reports.length > 0 %>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Offense</th>
        <th>Report Date</th>
      </tr>
    </thead>
    <tbody>
      <% @driver.reports.each do |report| %>
        <tr>
          <td><%= report.offense %></td>
          <td><%= time_ago_in_words(report.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Your driving record is squeaky clean!</p>
<% end %>

